@import "tailwindcss";

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8fafc; /* Fundo super claro e limpo (Slate 50) */
    color: #0f172a; /* Texto escuro para contraste */
  }
}